<div class="field">
  <%= form.label "Nombre:" %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label "Apodo:" %>
  <%= form.text_field :nickname %>
</div>

<div class="field">
  <legend>Jugadores a inscribir</legend>
  <% @players.each do |player| %>
    <label>
      <%= check_box_tag "team[player_ids][]", player.id %>
      <%= player.name %>
    </label>
    <br>
  <% end %>
</div>

<div class="actions">
  <%= form.submit "Procesar" %>
</div>
