<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
        <p>
          <strong>Nombre del equipo:</strong>
          <%= @team.name %>
        </p>

        <p>
          <strong>Apodo del equipo:</strong>
          <%= @team.nickname %>
        </p>

        <%= link_to 'Editar', edit_tournament_team_path(@tournament) %> |
        <%= link_to 'Atrás', @tournament %>

        <br><br>

        <h3>Jugadores</h3>

        <% unless @team.t_shirts.empty? %>
          <% @team.t_shirts.each do |ts| %>
            <h4><%= ts.player.name %></h4>
          <% end %>
        <% else %>
          <h4>No hay jugadores en este equipo aún.</h4>
        <% end %>

        <%#= link_to "Inscribir Jugadores en #{@team.name}", new_admin_player_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
