<div class="row">
  <div class="col">
    <div class="form-group">
      <%= f.label :id_card, "Cédula de Identidad" %>
      <%= f.text_field :id_card, class: "form-control", placeholder: "Ej.: V-12.345.678" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :first_name, "Primer Nombre" %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Ej.: Juan" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :middle_name, "Segundo Nombre" %>
      <%= f.text_field :middle_name, class: "form-control", placeholder: "Ej.: Pablo" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :last_name, "Apellido" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Ej.: Pérez" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= f.fields_for :t_shirts do |tsf| %>
        <%= tsf.label :dorsal_number, "Número de Dorsal" %>
        <%= tsf.number_field :dorsal_number, class: "form-control", placeholder: "Ej.: 10" %>
      <% end %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :school, "Escuela" %>
      <%= f.select :school_id, School.all.collect { |s| [ s.name, s.id ] }, {}, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :period, "Año / Semestre" %>
      <%= f.select :period_id, Period.all.collect { |p| [ p.period_number, p.id ] }, {}, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
</div>