<h1 align="center">¡Bienvenido, <%= current_user.first_name || current_user.email %>!</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Datos Personales</b></h5>
        <p class="card-text"><b>CI:</b> <%= current_user.id_card || "No indicado" %></p>
        <p class="card-text"><b>Nombre:</b> <%= current_user.full_name || "No indicado" %></p>
        <p class="card-text"><b>Correo:</b> <%= current_user.email %></p>
        <p class="card-text">
          <b>Teléfonos:</b> <%= current_user.phones.first || "No indicado" %>
        </p>
        <%= link_to "Modificar", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Datos Deportivos</b></h5>
        <p class="card-text">
          <b>¿Delegado?:</b>
          <%= current_user.has_role?("delegate")? "Sí" : "No" %>
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Datos Universitarios</b></h5>
        <p class="card-text"><b>Escuela:</b></p>
        <p class="card-text"><b>Semestre / Año:</b></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"><b></b></p>
      </div>
    </div>
  </div>
</div>