<div class="row justify-content-sm-center">
  <div class="col-sm-3">
    <div class="form-group">
      <%= form.label :name, "Nombre del Torneo" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :description, "Descripción" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-sm-3">
    <div class="form-group">
      <%= form.label :registration_start_date, "Fecha de Inicio" %>
      <%= form.date_field :registration_start_date, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= form.label :registration_end_date, "Fecha de Finalización" %>
      <%= form.date_field :registration_end_date, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= form.label :period, "Período" %>
      <%= form.text_field :period, class: "form-control", placeholder: "Ej.: #{Time.now.year}-#{Time.now.year + 1}" %>
    </div>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-sm-9">
    <%= form.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
</div>
