<h1>Modificar Torneo</h1>

<%= form_with(model: @tournament, local: true, url: sport_tournament_path(@sport)) do |form| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> No se pudo crear el torneo por estos motivos:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :registration_start_date %>
    <%= form.date_select :registration_start_date %>
  </div>

  <div class="field">
    <%= form.label :registration_end_date %>
    <%= form.date_select :registration_end_date %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Mostrar', @tournament %> |
<%= link_to 'Atrás', @tournament.sport %>
