<h1 align="center">Torneos Vigentes</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Deporte</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de cierre</th>
      <th scope="col">Período</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.sport.name, tournament.sport %></td>
        <td><%= tournament.name %></td>
        <td><%= tournament.description %></td>
        <td><%= tournament.registration_start_date %></td>
        <td><%= tournament.registration_end_date %></td>
        <td><%= tournament.period %></td>
        <td style="text-align: right;">
          <div class="btn-group" role="group" aria-label="User management">
            <%= link_to "Ver", tournament, class: "btn btn-info btn-sm", type: "button" %>
            <%= link_to "Editar", edit_tournament_path(tournament), class: "btn btn-warning btn-sm", type: "button" %>
            <%= link_to "Eliminar", tournament, method: :delete, data: { confirm: "¿Seguro que quieres eliminar este torneo?" }, class: "btn btn-danger btn-sm", type: "button" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'New Tournament', new_sport_tournament_path %>
