<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
        <p>
          <strong>Name:</strong>
          <%= @tournament.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @tournament.description %>
        </p>

        <p>
          <strong>Registration start date:</strong>
          <%= @tournament.registration_start_date %>
        </p>

        <p>
          <strong>Registration end date:</strong>
          <%= @tournament.registration_end_date %>
        </p>

        <p>
          <strong>Period:</strong>
          <%= @tournament.period %>
        </p>



<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', :back %>
