<h1 align="center"><%= @tournament.name %></h1>

<div class="row justify-content-sm-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 align="center" class="card-title">Información</h3>
        <p class="card-text"><b>Deporte:</b> <%= @tournament.sport.name %></p>
        <p class="card-text"><b>Descripción:</b> <%= @tournament.description %></p>
        <p class="card-text"><b>Fecha de inicio:</b> <%= @tournament.registration_start_date %></p>
        <p class="card-text"><b>Fecha de cierre:</b> <%= @tournament.registration_end_date %></p>
        <p class="card-text"><b>Período:</b> <%= @tournament.period %></p>
        
        <div class="btn-group" role="group">
          <%= link_to "Editar", edit_tournament_path(@tournament), class: "btn btn-warning btn-sm card-link", type: "button" %>
          <%= link_to "Eliminar", @tournament, method: :delete, data: { confirm: "¿Seguro que quieres eliminar este torneo?" }, class: "btn btn-danger btn-sm", type: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h3 align="center">Emparejamientos</h3>

    <%
      all_winners_set = true

      unless @tournament.pairings.empty?
        @tournament.pairings.first.games.each do |game|
          all_winners_set = false if game.winner_teams.empty?
        end
      end
    %>

    <% if all_winners_set %>
      <%= form_for @pairing, html: { style: "text-align: center;" } do |form| %>
        <%= form.hidden_field :tournament_id, value: @tournament.id %>
        <%= form.submit "Emparejar Equipos", class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <br>

    <% @tournament.pairings.each_with_index do |pairing, i| %>
      <div class="row">
        <div class="col">
          <div align="center" class="row">
            <div class="col">
              <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapsePairing<%= i %>" aria-expanded="false" aria-controls="collapsePairing">
                Emparejamiento <%= i + 1 %>
              </button>
              <%= link_to "Eliminar", pairing, method: :delete, data: { confirm: "¿Seguro que quieres eliminarlo? Se eliminarán también los juegos de este emparejamiento" }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>

          <p><%= pairing.name %></p>
          <div class="row collapse" id="collapsePairing<%= i %>">
            <% pairing.games.each do |game| %>
              <div class="col-sm-4">
                <div class="card bg-light">
                  <h5 class="card-header">
                    <div class="row">
                      <div class="col-sm-8">
                        <% unless game.winner_teams.empty? %>
                          Ganador: <%= game.winner_teams.first.name %>
                        <% else %>
                          Ganador: Por definir
                        <% end %>
                      </div>
                      <div align="right" class="col-sm-4">
                        <% unless game.teams.empty? %>
                          <%= link_to "Editar", edit_game_path(game), class: "btn btn-success btn-sm" %>
                        <% end %>
                      </div>
                    </div>
                  </h5>
                  <div class="card-body">
                    <h5 class="card-text">Equipos a enfrentarse:</h5>
                    <p class="card-text">
                      <% unless game.teams.empty? %>
                        <%= game.teams.first.name %> Vs. <%= game.teams.last.name %>
                      <% else %>
                        Sin enfrentamiento (el equipo clasifica a la siguiente ronda).
                      <% end %>
                    </p>
                  </div>
                  <div class="card-footer text-muted">
                    <% if game.start_date != nil && game.start_time != nil %>
                      <p class="card-text">Día del enfrentamiento: <%= "#{game.start_date} #{game.start_time.strftime('%I:%M %p')}" %></p>
                    <% else %>
                      <% if game.teams.empty? %>
                        Día del enfrentamiento: No aplica
                      <% else %>
                        <p class="card-text">Día del enfrentamiento: Por definir</p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <br>
              </div>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="row justify-content-sm-center">
  <div class="col-sm-10">
    <table class="table" style="text-align: center;">
      <thead class="thead-light">
        <tr>
          <th colspan="5" scope="col">Equipos: <%= @tournament.teams.count %></th>
        </tr>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apodo</th>
          <th scope="col">Cantidad de Jugadores</th>
          <th scope="col">Creador</th>
          <th scope="col" style="text-align: right;">
            <% if @tournament.pairings.empty? %>
              <%= link_to "Agregar Equipo", new_tournament_team_path(@tournament), class: "btn btn-primary btn-sm" %>
            <% else %>
              <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="left" title="No puedes agregar equipos mientras haya emparejamientos vigentes">
                Agregar Equipo
              </button>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @tournament.teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.nickname %></td>
            <td><%= team.players.count %></td>
            <td><%= team.user.email %></td>
            <td style="text-align: right;">
              <div class="btn-group" role="group" aria-label="User management">
                <%= link_to "Ver", [@tournament, team], class: "btn btn-info btn-sm", type: "button" %>
                <%= link_to "Editar", edit_tournament_team_path(@tournament, team), class: "btn btn-warning btn-sm", type: "button" %>
                <%= link_to "Eliminar", tournament_team_path(@tournament, team), method: :delete, data: { confirm: "¿Seguro que quieres eliminar este equipo? Los jugadores no se eliminarán del sistema" }, class: "btn btn-danger btn-sm", type: "button" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
