<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
        <p>
          <strong>Nombre:</strong>
          <%= @tournament.name %>
        </p>

        <p>
          <strong>Descripción:</strong>
          <%= @tournament.description %>
        </p>

        <p>
          <strong>Fecha de inicio:</strong>
          <%= @tournament.registration_start_date %>
        </p>

        <p>
          <strong>Fecha de finalización:</strong>
          <%= @tournament.registration_end_date %>
        </p>

        <p>
          <strong>Período:</strong>
          <%= @tournament.period %>
        </p>
        <%= link_to 'Editar', edit_tournament_path(@tournament) %> |
        <%= link_to 'Atrás', @tournament.sport%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
        <h5 class="card-title" align= "center"><b>Equipo</b> <%= link_to "Agregar Equipo", new_tournament_team_path(@tournament) , class: "btn btn-primary btn-sm" %></h5>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
    <% if @team.present? %>
    <h1 align="center">Equipos Actuales:</h1>
      <div class="card-body">
          <% @team.each do |f| %>
          <h5 class="card-title" align= "center"><%= link_to "#{f.name}", tournament_team_path(@tournament,f.id) , class: "btn btn-primary btn-sm" %></h5>
          <% end %>
    <% end %>
     </div>
   </div>
 </div>
</div>
