<h1 align="center">Agregar Información al Enfrentamiento</h1>

<%= form_for @game do |form| %>
  <div class="row justify-content-sm-center">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :start_date, "Fecha del partido" %>
        <%= form.date_field :start_date, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :start_time, "Hora del partido" %>
        <%= form.time_field :start_time, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :winner_team_ids, "Ganador" %>
        <%= form.select :winner_team_ids, @game.teams.collect { |t| [ t.name, t.id ] }, {include_blank: true}, class: "form-control" %>
        <em>Dejar en blanco si no se quiere definir ganador</em>
      </div>
    </div>
  </div>

  <div class="row justify-content-sm-center">
    <div class="col-sm-10">
      <%= form.submit "Listo", class: "btn btn-primary" %>
      <%= link_to "Cancelar", :back %>
    </div>
  </div>
<% end %>