<div class="row">
  <div class="col">
    <div class="form-group">
      <%= f.label :email, "Correo Electr칩nico" %>
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Ej.: juan.mendoza@gmail.com" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :password, "Contrase침a" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmaci칩n de Contrase침a" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <legend>Roles de Usuario</legend>
    <% @roles.each do |role| %>
      <div class="property_form left span-9 last">
        <label>
          <%= check_box_tag "user[role_ids][]", role.id %>
          <%= role.name %>
        </label>
      </div>
    <% end %>
  </div>
</div>